---
import { getCollection } from 'astro:content';
import Section from '../components/Section.astro';
import Layout from "../layouts/Layout.astro";
import HorizontalSeparator from '../components/HorizontalSeparator.astro';
import BlogCard from '../components/BlogCard.astro';

const posts = await getCollection('blog');
const heading = 'Blog';
const metadescription = "Read insights on SEO, UI/UX, web development, and marketing analysis featuring tips, trends, and strategies to grow your digital presence."
---
<Layout metatitle="Blog" metadescription={metadescription}>
  <Section>
    <h1>{heading}</h1>  
    {posts.map(post => (
      <BlogCard post={post}/>
      <HorizontalSeparator/>
    ))}
  </Section>
</Layout>