---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import ContactSection from "../components/ContactSection.astro";

const title = "Get in touch";
const metadescription = "Get in touch for SEO, website development, and growth marketing let’s collaborate and bring your ideas to reality via execution.";
---

<Layout metatitle={"Contact"} metadescription={metadescription}>
  <Section>
  <h1>{title}</h1>
  <ContactSection/>
  </Section>
</Layout>