---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

const title = "Get in touch";
const metadescription = "Get in touch for SEO, website development, and growth marketing let’s collaborate and bring your ideas to reality via execution.";
---

<Layout metatitle={"Contact"} metadescription={metadescription}>
  <Section>
  <div class="contact-us">
    <h1>{title}</h1>
    <p>You can contact me at</p>
    <div >

    </div>
    <div>
    
    </div>
  </Section>
</Layout>