---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
interface Props {
  metatitle: string;
  metadescription: string;
}

const {metatitle, metadescription} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{metatitle}</title>
    <meta name="description" content={metadescription}/>
  </head>
  <body>
  <Navbar/>
    <slot />
  <Footer/>
  </body>
  <style is:global>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Epilogue', sans-serif;
      background-color: var(--secondary)
    }

    h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 80px;
    color: var(--white)
  }

  h2{
    color: var(--white)
  }

  h3{
    color: var(--white)
  }

    p {
      line-height: 24px;
      color:var(--white);
    }

    pre {
      padding: 16px;
      border-radius: 5px;
    }
    
    *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

    :root {
      --primary: #E50914;
      --secondary: #2A2A2A;
      --white: #E0E0E0;
      --dark: #1C1C1C;
      --light: #8695a4;
      --random: #f7f7f7;
    }
  </style>
</html>
